<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <![endif]-->
        <title>Talk to Me!</title>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container bootstrap snippet">
            <div id="datas" username="{{user.username}}"
                 email="{{user.email}}"
                 userid="{{user.id}}"
                 style="display: none;"></div>
            <div class="row">
                <div class="col-md-4 bg-white ">
                    <div class=" row border-bottom padding-sm" style="height: 40px;">En ligne</div>
                    <ul id="users" class="friend-list"></ul>
                </div>

                <!--=========================================================-->
                <!-- selected chat -->
                <div class="col-md-8 bg-white ">
                    <div class="chat-message">
                        <ul class="chat" id="messages"> </ul>
                    </div>
                    <div class="chat-box bg-white">
                        <div class="input-group">
                            <input class="form-control border no-shadow no-rounded"  id="message" placeholder="Entrez votre texte ici...">
                            <span class="input-group-btn">
                                <button class="btn btn-success no-rounded" id="submit">Envoyer</button>
                            </span>

                        </div><!-- /input-group -->	
                    </div>            
                </div>        
            </div>
        </div>


        <script src="assets/js/jquery-1.11.1.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/mustache.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.0/socket.io.js"></script>
        <script type="text/javascript" src="js/client.js"></script>
    </body>

</html>
